<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurent</title>
    
    <link rel="stylesheet" href="/mainpage.css">
</head>
<body>
    <div class="main">
        <h1><%=user.name%>`s Restaurent</h1>
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://www.tastingtable.com/img/gallery/15-indian-breakfasts-you-need-to-try-at-least-once/intro-1671483071.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Break-Fast Items</h2>
                <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                <a href="/breakfast" class="button secondary">Order Now</a>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://www.archanaskitchen.com/images/archanaskitchen/0-Archanas-Kitchen-Recipes/Articles/South_Indian_Non_Vegetarian_Recipes_That_You_Must_Try.png"></div>
              <div class="card_content">
                <h2 class="card_title">Lunch Items</h2>
                <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                <a href="/lunch" class="button secondary">Order Now</a>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://c.ndtvimg.com/2021-05/tj7sdqj8_parotta_625x300_14_May_21.jpg?im=FeatureCrop,algorithm=dnn,width=1200,height=675"></div>
              <d class="card_content">
                <h2 class="card_title">Dinner Items</h2>
                <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                <a href="/dinner" class="button secondary">Order Now</a>
              </div>
            </div>
          </li>

        </ul>
      </div>
      
   
</body>
</html>